@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1579182166273'); /* IE9 */
  src: url('iconfont.eot?t=1579182166273#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABnQAAAIzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgpwgQoBNgIkAwgLBgAEIAWEbQcuG7wFyB6FcfNyRDl7uKqJTx0PX2vo+3t7lw2hSxSiBBwfLpADEh5RyLoaWWEqVMezUOXt5/whCJvzYzlFqNAW81pOL83o/JyeUhNyX7if9fRGBlxOfwJl0TzLct2D9qK1aQLFAQW4F0aRFS2QjBvGLnAJlwm0GdGR3VsdzpmKzJoViNueY2QqOb8ss1QRmpqNWbxVK+lZ+og34fPjh+UoJHXFWrh/dWlnJp//rLr7/66LPiFAgNtrVJiVkYnT2vi+vGCcvLZ4wajMvkYFn/3/z+d9m9grN4i/zsnsAJNQne5I6ooJPrOLlpeR0WBCxtQMMZrosL/sSr37BXfbup5H3EuZsvc/y7tStip+b4fQYYv1s+ps7pdA8HhDbK29prRn8Klnp6Ep6+ek7NgR/Cdpz5asyy1ryqq0Np1MKJ24qk0b/sPuPn9jDYN3kw7F4D05WwynqBSjZGZnUWu3ikaxiTYz1tvb9WN5kVsx7Q0QenyQdPmASo8vmdkfakP+0eiJCm1Oo//AduNxo7bLaAjaYL7AsyhWjl1qUfYRnVtocFYe8q7IqReC4fxiMbXGGHmOJendGYkoUEwRrMB1GIYECZOPlvRckWTcX7had6eeRVGmZhdDBoFswPQCPBYSU35/USs9/gg5bkIGbmmqSV4hlvKGB0M9gx7kWhP3arqXW1J3jhEhFKAwEgErMA6FQgQk9eN8yCJ63BHRxFjf7qT6anrr66KvOwBtLGMKu7iS7xBjJgMAAA==') format('woff2'),
  url('iconfont.woff?t=1579182166273') format('woff'),
  url('iconfont.ttf?t=1579182166273') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1579182166273#iconfont') format('svg');/*  iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e6f4";
}

.icon-more-copy:before {
  content: "\e6f5";
}

